/****************************

base

****************************/
html {
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  max-width: 1920px;
  margin: 0 auto;
}
input,
button,
textarea,
select {
  font-size: 14px;
  border: 0;
  outline: none;
}
input {
  line-height: normal;
}
ul {
  list-style-type: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
section[id] {
  scroll-margin-top: 30px;
}
