/****************************

Main Font : Montserrat
Main Color : #ffab00

****************************/
/*================== Font ==============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/****************************

base

****************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  max-width: 1920px;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font-size: 14px;
  border: 0;
  outline: none;
}

input {
  line-height: normal;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

section[id] {
  scroll-margin-top: 30px;
}

.full-width-header {
  position: relative;
}
.full-width-header .rs-header {
  position: fixed;
  z-index: 3;
}

.rs-header {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background: #ffffff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
}

.fullwidth-wrapper {
  width: 100%;
  padding: 0 30px;
}

.main-menu .row {
  height: 100px;
}
.main-menu .row .logo-area a img {
  width: 100%;
  height: 100%;
}

.rs-menu {
  float: right;
  padding-right: 100px;
}

.nav-menu {
  text-align: center;
  margin-bottom: 0;
}
.nav-menu li {
  display: inline-block;
  position: relative;
}
.nav-menu li a {
  padding: 15px 50px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #1c1c1d;
  font-weight: 600;
}

.nav-toggle {
  display: none;
}

.slider-area {
  position: relative;
  top: 0;
  max-width: 100%;
  margin: auto;
}
.slider-area .mySlider {
  display: none;
}
.slider-area .mySlider img {
  width: 100%;
  height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.slider-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.display-table-cell p {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.display-table-cell h1 {
  font-size: 50px;
  color: #ffab00;
  text-transform: uppercase;
}
.display-table-cell a {
  margin-top: 50px;
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffab00;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}
.display-table-cell a:nth-of-type(2) {
  background-color: rgba(16, 40, 184, 0);
  border: 1px solid #ffab00;
}

.info-content {
  display: block;
  color: #ffffff;
  bottom: 0;
  margin-top: -98px;
}

.info-box {
  padding: 25px 40px 25px 20px;
  background-color: rgba(48, 48, 48, 0.4);
  transition: 0.5s;
  cursor: pointer;
}
.info-box i {
  font-size: 40px;
  margin-right: 20px;
}
.info-box .info-title {
  font-size: 20px;
  flex-grow: 1;
  margin-bottom: 0;
}
.info-box:hover {
  background: #ffab00;
}

.nav-toggle {
  float: right;
  margin-top: 16px;
  height: 46px;
  width: 66px;
  background: none;
  cursor: pointer;
  border: none;
}
.nav-toggle span {
  height: 2px;
  width: 30px;
  background: #1c1c1d;
  display: block;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -12px;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
}
.nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
}

@media only screen and (max-width: 1440px) {
  .rs-menu {
    padding-right: 0;
  }

  .nav-menu li a {
    padding: 15px 30px 15px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .rs-menu {
    display: none;
  }

  .nav-toggle {
    display: block;
    float: right;
    margin-top: 16px;
    height: 46px;
    width: 66px;
    background: none;
    cursor: pointer;
    border: none;
  }
  .nav-toggle span {
    height: 2px;
    width: 30px;
    background: #1c1c1d;
    display: block;
    margin: auto;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-toggle span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
  }
  .nav-toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
  }

  .info-box {
    padding: 25px 0 25px 20px;
  }
  .info-box i {
    margin-right: 12px;
  }
}
@media only screen and (max-width: 739px) {
  .rs-menu {
    display: none;
  }

  .display-table-cell h1 {
    font-size: 40px;
  }

  .info-content {
    margin-top: 0;
  }

  .nav-toggle {
    display: block;
  }

  .header-box {
    width: 50%;
  }

  .display-table-cell a:nth-of-type(2) {
    margin-left: 0 !important;
  }
}
#about-us {
  padding: 250px 0;
  position: relative;
}

.about-content {
  display: flex;
  gap: 100px;
}

.about-left {
  position: relative;
  width: 35%;
}
.about-left span {
  color: #ffab00;
}
.about-left h2 {
  padding: 20px 0;
  font-size: 34px;
  font-weight: 700;
}
.about-left .about-description {
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
}
.about-left .about-text {
  opacity: 0.9;
  line-height: 24px;
}
.about-left::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #f6f6f6;
  z-index: -1;
  left: -48px;
  top: -54px;
  border-radius: 5px;
}
.about-left::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: -1;
  background-color: #f6f6f6;
  top: -8px;
  left: 2px;
  border-radius: 5px;
}

.about-right {
  position: relative;
}

.team-img {
  position: absolute;
  z-index: 2;
}

.circle-img {
  position: absolute;
  left: 120px;
  top: -165px;
}

.video-box {
  height: 70px;
}
.video-box i {
  cursor: pointer;
  font-size: 72px;
  color: #ffab00;
}
.video-box .text-box {
  color: #1c1c1d;
  margin-bottom: 0;
  font-size: 18px;
}

.team-img {
  width: 100%;
}

.video-player {
  width: 60%;
  position: fixed;
  left: 50%;
  top: 60%;
  z-index: 5;
  transform: translate(-50%, -60%);
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: none;
}

.close-btn {
  position: fixed;
  z-index: 6;
  font-size: 50px;
  color: #ffab00;
  top: 10px;
  right: 20px;
  z-index: 666;
  display: none;
}

#nav-input {
  z-index: 66;
  position: absolute;
}

.nav-checkbox:checked ~ .overlay {
  display: block;
}

.nav-checkbox:checked ~ .close-btn {
  display: block;
}

.nav-checkbox:checked ~ .video-player {
  display: block;
}

.nav-checkbox:checked ~ .video-box {
  display: block;
}

@media only screen and (max-width: 1440px) {
  .about-content {
    display: flex;
    gap: 100px;
  }

  .circle-img {
    left: 60px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1025px) {
  #about-us {
    padding: 150px 0;
  }

  .about-content {
    gap: 0;
  }

  .about-left {
    width: 100%;
  }

  .team-img {
    display: none;
  }

  .circle-img {
    display: none;
  }

  .service-box {
    row-gap: 24px;
  }
}
@media only screen and (max-width: 739px) {
  #about-us {
    padding: 150px 0;
  }

  .video-player {
    width: 80%;
  }
  .video-player iframe {
    height: 440px;
  }

  .team-img {
    display: none;
  }

  .circle-img {
    display: none;
  }

  .about-left {
    width: 100%;
  }

  .about-content {
    gap: 0;
  }
}
#services-area {
  padding: 150px 0;
  background-color: #f8f8f8;
}

.services-heading span {
  color: #ffab00;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.services-heading .service-title {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}

.service-item .item {
  padding: 50px 30px;
  box-shadow: 0 15px 55px -5px rgba(9, 31, 67, 0.1);
  background: #ffffff;
}
.service-item .item h4 {
  font-weight: 600;
  margin-bottom: 35px;
}
.service-item .item i {
  display: inline-block;
  font-size: 70px;
  margin-bottom: 30px;
  color: #ffab00;
}
.service-item .item p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}
.service-item .item a {
  display: inline-block;
  text-align: center;
  color: #ffab00;
  margin-top: 15px;
  border: 1px solid #e7e7e7;
  padding: 20px 35px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.service-item .item a:hover {
  outline: none;
}
.service-item .item a:hover::after {
  left: 0;
}

.btn-standard:hover {
  color: #ffffff !important;
}
.btn-standard::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #ffab00;
  transition: all 0.35s ease-in-out;
  left: -100%;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 739px) {
  .service-box {
    row-gap: 20px;
  }
}
.block-content {
  width: 100%;
  height: 900px;
  background: #2d2d2d url(../images/all/img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-title {
  padding-top: 150px;
}

.services-wrapper {
  width: 30%;
  border: 1px;
  padding: 30px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/banner/img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.35s ease-in-out;
}

.services-wrapper:hover {
  background: linear-gradient(90deg, #ff4100 0%, #ffab00 100%);
}
.services-wrapper:hover .services-text {
  opacity: 1;
}

.services-text {
  opacity: 0;
  padding-top: 20px;
  line-height: 24px;
}

.btn-arrow {
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 20px;
}

.btn-arrow:hover {
  color: #2d2d2d;
}

@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .block-content {
    width: 100%;
    height: 950px;
  }

  .heading-title {
    padding-top: 100px;
  }

  .services-wrapper {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 739px) {
  .block-content {
    width: 100%;
    height: 1600px;
  }

  .services-wrapper {
    width: 100%;
    padding: 10px;
  }

  .heading-title {
    padding-top: 50px;
  }

  .block-content-box {
    row-gap: 24px;
  }
}
#strengths {
  padding: 145px 0;
}

.header-title {
  margin-bottom: 50px;
}

.timetab-heading {
  height: 100%;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: center;
}
.timetab-heading i {
  font-size: 46px;
  color: #ffab00;
}
.timetab-heading p {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 26px;
}

.tab {
  cursor: pointer;
}
.tab.active .timetab-heading {
  position: relative;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}
.tab.active .timetab-heading i {
  font-size: 46px;
}
.tab.active .timetab-heading p {
  margin-top: 20px;
}
.tab.active .timetab-heading:first-of-type {
  border-color: transparent;
  box-shadow: 7px 6px 30px rgba(0, 0, 0, 0.12);
}
.tab.active .timetab-heading:first-of-type::before {
  content: "";
  position: absolute;
  width: 26px;
  left: 50%;
  bottom: -12px;
  z-index: 1;
  height: 26px;
  background: #ffffff;
  border-radius: 5px;
  transform: rotate(45deg);
  margin-left: -13px;
}

.timetab-data {
  margin-top: 50px;
}
.timetab-data .timetab-container {
  display: none;
}
.timetab-data .timetab-container.active {
  border-radius: 5px;
  box-shadow: 7px 6px 30px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  padding: 30px;
  display: block;
}
.timetab-data .timetab-container .timetab-img {
  margin-left: 125px;
  width: 445px;
  height: 380px;
}
.timetab-data .timetab-container .timetab-img img {
  width: 100%;
  height: 100%;
}

.timetab-info {
  padding-top: 70px;
}
.timetab-info p {
  opacity: 0.8;
}
.timetab-info ul {
  padding-top: 10px;
}
.timetab-info ul li {
  position: relative;
  padding: 10px 0;
}
.timetab-info ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  z-index: 1;
  left: -30px;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  background: #ffab00;
}

.timetab-title {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .timetab-data .timetab-container .timetab-img {
    margin-left: 0;
    width: 100%;
    height: 380px;
  }

  .strengths-box {
    row-gap: 24px;
  }

  .technology-box {
    row-gap: 24px;
  }
}
@media only screen and (max-width: 739px) {
  #strengths {
    padding-bottom: 100px;
  }

  .strengths-box {
    row-gap: 24px;
  }

  .timetab-data .timetab-container .timetab-img {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
#technology {
  padding-top: 50px;
  padding-bottom: 150px;
}

.technology-title {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 50px;
}

.technology-box img {
  width: 80%;
}

@media only screen and (max-width: 739px) {
  #technology {
    padding-bottom: 50px;
  }

  .technology-box {
    row-gap: 24px;
  }
}
#contacts {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f8f8f8;
}

.content-heading {
  margin-bottom: 30px;
}
.content-heading h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.content-heading p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
}

.contact-form .form-group {
  margin-bottom: 1rem;
}
.contact-form .form-group input {
  border: none;
  box-shadow: inherit;
  padding: 15px;
  background: #ffffff;
}
.contact-form .form-group textarea {
  padding: 15px;
  min-height: 150px;
  width: 100%;
  resize: none;
  border: none;
  box-shadow: inherit;
}

.btn-submit {
  padding: 15px 40px;
  background: #ffab00;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
}

.contact-tabs ul {
  margin-bottom: 30px;
  position: relative;
}
.contact-tabs ul .nav-item .nav-link {
  background: transparent;
  border: none;
  padding: 15px 0;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1c1c1d;
}
.contact-tabs ul .nav-item .nav-link.active {
  color: #ffab00;
}

.nav-tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-radius: 15px;
  background-color: #ffab00;
  transition: all 0.2s ease;
}

.nav-link {
  cursor: pointer;
}

.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane ul li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon i {
  color: #ffab00;
  display: inline-block;
  font-size: 30px;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  background: #ffffff;
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
  margin-right: 20px;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}

#tab2 iframe {
  width: 100%;
  height: 360px;
}

@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .contacts-box {
    row-gap: 24px;
  }
}
@media only screen and (max-width: 739px) {
  #contacts {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .contacts-box {
    row-gap: 24px;
  }
}
#footer {
  padding-bottom: 100px;
}

.footer-items {
  padding-top: 100px;
}
.footer-items .footer-about p {
  font-weight: 600;
}
.footer-items .footer-about img {
  max-width: 100%;
}
.footer-items .footer-about .footer-social {
  margin-top: 25px;
  text-align: center;
}
.footer-items .footer-about .footer-social a {
  margin-right: 25px;
  text-decoration: none;
  color: #ffab00;
}
.footer-items .footer-about .footer-social a i {
  font-size: 30px;
}

.footer-item {
  padding-left: 30px;
}

.widget-title {
  font-weight: 600;
}

.address ul {
  padding-left: 0;
  margin-top: 20px;
}
.address ul li {
  padding-bottom: 20px;
}
.address ul li strong {
  font-size: 20px;
}
.address ul li p {
  display: inline-block;
  font-weight: 500;
}

.footer-link p {
  margin-top: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 739px) {
  .footer-link {
    padding-left: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
